@charset "utf-8";

.about-top {
    min-height: 50vh;
    background-image: url(../image/about-main-img.jpg);
    background-size: cover;
    background-position: 50% 100%;
}

.about-sub {
    padding-top: 20vh;
    /* padding-left: 8vw; */
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 50px;
    letter-spacing: 0.2em;
    -moz-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    -webkit-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    -ms-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.about-concept {
    text-align: center;
}

.about-concept h2 {
    margin-top: 80px;
    font-size: 24px;
    font-family: "Zen Kurenaido", sans-serif;
}

.about-concept-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 50px;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

@media screen and (max-width: 640px) {
    .about-top {
        width: 100%;
        min-height: 30vh;
        background-position: 50% 50%;
    }
    .about-sub {
        font-size: 35px;
        padding-top: 13vh;
    }
    .about-concept p {
        padding: 20px;
    }
    .about-concept-icon {
        margin-top: 50px;
        margin-bottom: 0;
    }
}

.leaf {
    background-image: url(../image/leaf1.png);
}
.main-about-text {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
}

.about-concept-img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 70% 50%;
}

.about-concept p {
    width: 90%;
    max-width: 800px;
    text-align: left;
    margin: 0 auto;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 35px;
    padding: 25px;
    font-family: "Zen Kurenaido", sans-serif;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 50% 200%;
}

.about-concept p > span {
    color: #67d212;
    font-size: 20px;
}

.about-concept-2 {
    text-align: center;
}

.about-concept-2 h2 {
    margin-top: 85px;
    font-size: 24px;
    font-family: "Zen Kurenaido", sans-serif;
}

.about-concept-2-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-top: 100px;
    margin-bottom: 50px;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.leaf {
    background-image: url(../image/leaf2.png);
}

.center-box {
    display: flex;
    justify-content: center;
}

.slider-wrapper {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1000px;
}
.slider-wrapper img {
    border: 4px solid #fff;
}

.about-concept-2 img {
    width: 620px;
    height: 413px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.about-concept-2 > p {
    width: 80%;
    max-width: 800px;
    background-color: #f8f8f8;
    border-radius: 30px;
    text-align: left;
    margin: 0 auto;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 35px;
    padding: 25px;
}

.about-concept-2 > p span {
    color: #67d212;
}

@media screen and (max-width: 640px) {
    .about-concept-2 > p {
        width: 90%;
        font-size: 14px;
    }

    .about-concept-2 {
        margin-bottom: 0;
    }

    .about-concept-2-icon {
        margin-top: 20px;
        margin-bottom: 0;
    }
}

.about-concept-3 h2 {
    margin-top: 85px;
    font-size: 24px;
    font-family: "Zen Kurenaido", sans-serif;
}

.about-concept-3-img {
    width: 620px;
    height: 413px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.about-concept-3-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-top: 150px;
    margin-bottom: 50px;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.leaf {
    background-image: url(../image/leaf2.png);
}

.about-concept-3 > p {
    width: 950px;
    height: 225px;
    background-color: #f8f8f8;
    border-radius: 30px;
    text-align: left;
    margin: 0 auto;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 35px;
    padding: 25px;
    margin-bottom: 300px;
}

.about-concept-3 {
    text-align: center;
}

.section-bottom {
    margin-bottom: 200px;
}
@media screen and (max-width: 640px) {
    .about-concept-3-icon {
        margin-top: 50px;
        margin-bottom: 0;
    }
    .section-bottom {
        margin-bottom: 100px;
    }

    footer {
        height: 100px;
        background-color: #67d212;
    }
}
