@charset "utf-8";

body {
	font-family: "Noto Sans JP", sans-serif;
	color: #4d5156;
}
header {
	padding: 30px 4% 10px;
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
}
/* ロゴ */
header img {
	width: 100px;
	height: 100px;
}
header img:hover {
	opacity: 0.8;
	transition: 0.3s;
}

/* ナビ */
header nav {
	margin: 0 0 0 auto;
}

/* ナビ　hover */
.menu-text-container > li:hover .nav-text-first,
.menu-text-container > li:hover .nav-text-second {
	color: #67d212;
}

header nav ul {
	display: flex;
}

.nav-text-first {
	margin: 0 0 0 50px;
	font-size: 20px;
	font-weight: bold;
	color: rgb(196, 237, 172);
	font-family: "Montserrat", sans-serif;
	padding-bottom: 10px;
}

/* ナビ下の文字 */
.nav-text-second {
	font-family: "Zen Kurenaido", sans-serif;
	font-size: 13px;
	color: rgb(196, 237, 172);
	margin: 0 0 0 50px;
}

/* メイン画像 */
.index-top {
	min-height: 100vh;
	background-image: url(../image/しずおか食堂画像.jpeg);
	background-size: cover;
	background-position: center;
}

/* メイン画像　テキスト */
.sub_top {
	padding-top: 25vh;
	padding-left: 8vw;
	text-align: center;
	font-family: "Zen Kurenaido", sans-serif;
	font-weight: bold;
	color: #fff;
	font-size: 50px;
	letter-spacing: 0.5em;
	-moz-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	-webkit-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	-ms-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.about-concept {
	text-align: center;
}
/* しずおか食堂について */
.about-concept h2 {
	margin-top: 70px;
	font-size: 24px;
	font-family: "Zen Kurenaido", sans-serif;
}

/* 葉っぱ */
.about-concept-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 300px;
	height: 200px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
}

.leaf {
	background-image: url(../image/leaf1.png);
}
.main-about-text {
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
	margin-top: 10px;
}
/* おばちゃん画像 */
.about-concept-img {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	object-fit: cover;
	margin-bottom: 50px;
	object-position: 70% 50%;
}

/* 文章 */
.about-concept p {
	width: 600px;
	height: 190px;
	text-align: left;
	margin: 0 auto;
	font-size: 16px;
	letter-spacing: 3px;
	line-height: 35px;
	padding: 25px;
	font-family: "Zen Kurenaido", sans-serif;
	/* ★★★ */
	background-image: url(../image/静岡県画像.png);
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: 50% 200%;
}

.about-concept p > span {
	color: #67d212;
}

.about-concept-2 {
	text-align: center;
}
/* コンセプト */
.about-concept-2 h2 {
	margin-top: 85px;
	font-size: 24px;
	font-family: "Zen Kurenaido", sans-serif;
}

/* 葉っぱ */
.about-concept-2-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	margin-top: 300px;
	height: 200px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
}

.leaf {
	background-image: url(../image/leaf2.png);
}

.slider-wrapper {
	padding: 0 10px;
}
.slider-wrapper img {
	border: 4px solid #ccc;
}

/* コンセプト画像 */
.about-concept-2 img {
	width: 620px;
	height: 413px;
	border-radius: 20px;
	margin-bottom: 50px;
}

.about-concept-2 > p {
	width: 950px;
	height: 225px;
	background-color: #f8f8f8;
	border-radius: 30px;
	text-align: left;
	margin: 0 auto;
	font-size: 16px;
	letter-spacing: 3px;
	line-height: 35px;
	padding: 25px;
}

.about-concept-2 > p span {
	color: #67d212;
}

/* こだわり */
.about-concept-3 h2 {
	margin-top: 85px;
	font-size: 24px;
	font-family: "Zen Kurenaido", sans-serif;
}

/* こだわり画像 */
.about-concept-3-img {
	width: 620px;
	height: 413px;
	border-radius: 20px;
	margin-bottom: 50px;
}

/* 葉っぱ */
.about-concept-3-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	margin-top: 300px;
	height: 200px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
}

.leaf {
	background-image: url(../image/leaf2.png);
}

.about-concept-3 > p {
	width: 950px;
	height: 225px;
	background-color: #f8f8f8;
	border-radius: 30px;
	text-align: left;
	margin: 0 auto;
	font-size: 16px;
	letter-spacing: 3px;
	line-height: 35px;
	padding: 25px;
	margin-bottom: 300px;
}

.about-concept-3 {
	text-align: center;
}
/* フッター */
footer {
	height: 100px;
	background-color: #67d212;
}
